*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    list-style-type: none;
    height: 100px;
    margin: 10px;
}
header>nav>ul>li>img{
    width: 75%;
    height: 50%;
    margin-left: 20px;
}
header>nav>ul>li>a{
    width: 25%;
    text-decoration: none;
    color: black;
    width: 50px;
    height: 30px;
    background-color: lime;
    padding: 10px;
}
main>section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../img/img-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    height: 600px;
    margin: 5px;
}
main>section>article>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin: 20px 0px 0px 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: seashell;
}
main>section>article>p{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: seashell;
    margin: 10px 0px 0px 30px;
    color: rgb(0, 0, 0);
 
}
main>section>article>span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    background-color: rgb(40, 140, 158);
    margin: 10px 0px 0px 30px;
    color: rgb(0, 0, 0);
}
main>section>article>button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: rgb(27, 197, 174);
    margin: 10px 0px 300px 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}



main>section>img{

    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    margin: 20px;

}

/**********enceintes**********/
main>div{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}
/**********enceinte portable**********/
.section1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: 300px;
    margin: -100px 10px 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
}
/**********enceinte salon**********/
.section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: 300px;
    margin: -100px 10px 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
}
main>div>section>h2{
    margin: 20px;
    font-size: 30px;
    color: white;
}
main>div>section>p{
    margin: 20px;
    color: white;
    width: 20rem;
}
main>div>section>button{
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-color: grey;
    background-color: rgb(27, 197, 174);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
main>div>section>img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: rgb(190, 190, 190);
    margin: 20px;
}
