
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Regular.ttf") format("truetype"),
         url("../fonts/Barlow-Bold.ttf") format("truetype"),
         url("../fonts/Barlow-Thin.ttf") format("truetype"),
         url("../fonts/Barlow-Italic.ttf") format("truetype");
}
.index{
    background-color: #B6A299;
}
.index>header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #7EDCE1;
    list-style-type: none;
    height: 100px;
    margin: 10px;

}
.index>header>nav>ul>li>img{
    width: 20rem;
    height: 50%;
    margin-left: 20px;
}
.index>header>nav>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-decoration: none;
    color: #292a2d;
    width: 6rem;
    height: 30px;
    border: solid 2px grey;
    border-radius: 5%;
    background-color: #41B4BB;
    padding: 10px;
}
.search{
    background-color: #7EDCE1;
    border: 0px;
}
.search button{
    background-color: #7EDCE1;
    border: 0px;
}
.search img{
    background-color: #7EDCE1;
    width: 75%;
    height: 75%;

}
.search label{
    color: gray;
    text-decoration: underline;
    text-decoration-color: #292a2d;}
.index>main>section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../img/img-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    height: 600px;
    margin: 10px;
}
.index>main>section>article>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin: 20px 0px 0px 30px;
    font-size: 30px;
    color: #292a2d;
    background-color: #B6A299;
}
.index>main>section>article>p{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: #B6A299;
    margin: 10px 0px 0px 30px;
    color: #292a2d;
 
}
.index>main>section>article>span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    background-color: #7EDCE1;
    margin: 10px 0px 0px 30px;
    color: #292a2d;
}
.index>main>section>article>button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: #41B4BB;
    margin: 10px 0px 300px 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
.index>main>section>article>button:hover{
    background-color: #7EDCE1;
}
.index>main>section>img{
    width: 15rem;
    height: 18rem;
    border-radius: 30px;
    border: solid 2px #B6A299;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}

/**********enceintes**********/
.index>main>div{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
/**********enceinte portable**********/
.section1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: 300px;
    margin: -50px 10px 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
}
/**********enceinte salon**********/
.index>main>div{
    background-color: #7EDCE1;
}
.section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: 300px;
    margin: -50px 10px 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
}
.index>main>div>section>h2{
    margin: 20px;
    font-size: 30px;
    color: white;
    width: 50%;
}
.index>main>div>section>p{
    margin: 20px;
    color: white;
    width: 50%;
}
.index>main>div>section>button{
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-color: #B6A299;
    background-color: #41B4BB;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
.index>main>div>section>button:hover{
    background-color: #7EDCE1;
}
.index>main>div>section>img{
    width: 40%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.div>section{
    background-color: #B6A299;
    margin: 10px;
    border-radius: 5px;
}
.article{
    position: relative;
}
.article>a>img{
    width: 3rem;
    height: 3rem;
    margin: 0px 20px 0px 20px;
}
.article a:nth-child(2){
    position :absolute;
    right : 0;
    opacity: 0;
} 
.article:hover a:nth-child(2){
    opacity: 1;
} 
.div>section>article,span{
    margin: 10px 0px 5px 10px;
}
.div>section>p{
    color: #292a2d;
    background-color: #B6A299;
    margin: 5px 0px 10px 10px;
}
.div>section>img{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
}
/********footer**********/
.index>footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #7EDCE1;
    margin: 10px;
    padding: 0rem 5rem 0rem 5rem;
}
.index>footer>a{
    text-decoration: none;
    color: #292a2d;
}
/*******a-propos**********/

.apropos>header{
    width: 100%;
    height: 110px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px black;
}
.apropos>header>nav
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.apropos>header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c2c2;
    list-style-type: none;
    width: 100%;
    height: 100px;
}
.apropos>header>nav>ul>li{
    width: 25%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.apropos>header>nav>ul>li>a{
    background-color: white;
    color: #292a2d;
    text-decoration: none;
    width: 75%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apropos>main{
    width: 100%;
    height: 50rem;
}
.apropos>main>section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4c2c2;
    height: 75%;
}
.apropos>main>article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}
.apropos>main>article>h2{
    background-color: #c4c2c2;
    color: #292a2d;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apropos>footer{
    width: 100%;
    height: 80px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.apropos>footer>a{
    text-decoration: none;
    color: #292a2d;
    font-size: 12px;
}
/**********produits**********/
.produits>header{
    width: 100%;
    height: 110px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px black;
}
.produits>header>nav
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.produits>header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c2c2;
    list-style-type: none;
    width: 100%;
    height: 100px;
}
.produits>header>nav>ul>li{
    width: 25%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.produits>header>nav>ul>li>a{
    background-color: white;
    color: #292a2d;
    text-decoration: none;
    width: 75%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produits>main{
    width: 100%;
    height: 50rem;
}
.produits>main>section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.produits>main>section>h2{
    background-image: url("../img/image.png");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292a2d;
    width: 50%;
    height: 50%;
}
.produits>main>section>article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c2c2;
    color: #292a2d;
    width: 50%;
    height: 50%;
    padding: 5rem;
}
.produits>main>article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}
.produits>main>section>article>a{
    text-decoration: none;
    color: #292a2d;
    background-color: white;
    padding : 10px;
    margin-top: 20px;
}
.produits>main>article>h3{
    background-color: #c4c2c2;
    color: #292a2d;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.produits>footer{
    width: 100%;
    height: 80px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.produits>footer>a{
    text-decoration: none;
    color: #292a2d;
    font-size: 12px;
}
/**********commande**********/
.commande>header{
    width: 100%;
    height: 110px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px black;
}
.commande>header>nav
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.commande>header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c2c2;
    list-style-type: none;
    width: 100%;
    height: 100px;
}
.commande>header>nav>ul>li{
    width: 25%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.commande>header>nav>ul>li>a{
    background-color: white;
    color: #292a2d;
    text-decoration: none;
    width: 75%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commande>main{
    width: 100%;
    height: 50rem;
}
.commande>main>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #c4c2c2;
    height: 75%;
    width: 100%;
}
.commande>main>div>article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    background-color: white;
    border-left: solid 50px #c4c2c2;
}
.commande>main>div>article>h2{
    background-image: url("../img/image.png");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292a2d;
    width: 100%;
    height: 100%;
}
.commande>main>div>section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c2c2;
    color: #292a2d;
    width: 50%;
    height: 15%;
}
.commande>main>div>span{
    background-color: #ffffff;
    color: #000000;
    width: 75%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commande>main>article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}
.commande>main>section>article>a{
    text-decoration: none;
    color: #292a2d;
    background-color: white;
    padding : 10px;
    margin-top: 20px;
}
.commande>main>article>h3{
    background-color: #c4c2c2;
    color: #292a2d;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.commande>footer{
    width: 100%;
    height: 80px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.commande>footer>a{
    text-decoration: none;
    color: #292a2d;
    font-size: 12px;
}
/**********contact**********/
.contact>header{
    width: 100%;
    height: 110px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px black;
}
.contact>header>nav
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact>header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c2c2;
    list-style-type: none;
    width: 100%;
    height: 100px;
}
.contact>header>nav>ul>li{
    width: 25%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.contact>header>nav>ul>li>a{
    background-color: white;
    color: #292a2d;
    text-decoration: none;
    width: 75%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact>main{
    width: 100%;
    height: 50rem;
}
.contact>main>section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.formulaire,.maps,.faq1,.faq2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292a2d;
    width: 50%;
    height: 50%;
}
.maps,.faq1{
    background-color: #c4c2c2;
}
.formulaire,.maps{
    height: 70%;
}
.faq1,.faq2{
    height: 30%;
}
.contact>main>article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}
.contact>main>section>article>a{
    text-decoration: none;
    color: #292a2d;
    background-color: white;
    padding : 10px;
    margin-top: 20px;
}
.contact>main>article>h3{
    background-color: #c4c2c2;
    color: #292a2d;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact>footer{
    width: 100%;
    height: 80px;
    background-color: #c4c2c2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact>footer>a{
    text-decoration: none;
    color: #292a2d;
    font-size: 12px;
}