*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
nav{
    display: flex;
    flex-direction: row;
}
nav>ul{
    display: flex;
    flex-direction: row;
}
main>section{
    
    background-image: url("../img/img-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
main>div{
    display: flex;
    background-color: lightseagreen;
    margin: 20px;
    border-radius: 30px;
}
.section1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 20px;
}
.section2{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 20px;
}
main>div>section>img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: rgb(190, 190, 190);
    margin: 20px;
}