*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #7EDCE1;
    list-style-type: none;
    height: 100px;
    margin: 10px;

}
header>nav>ul>li>img{
    width: 20rem;
    height: 50%;
    margin-left: 20px;
}
header>nav>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-decoration: none;
    color: #292a2d;
    width: 6rem;
    height: 30px;
    border: solid 2px grey;
    border-radius: 5%;
    background-color: #41B4BB;
    padding: 10px;
}
main>section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../img/img-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    height: 600px;
    margin: 10px;
}
main>section>article>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin: 20px 0px 0px 30px;
    font-size: 30px;
    color: #292a2d;
    background-color: #B6A299;
}
main>section>article>p{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: #B6A299;
    margin: 10px 0px 0px 30px;
    color: #292a2d;
 
}
main>section>article>span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    background-color: #7EDCE1;
    margin: 10px 0px 0px 30px;
    color: #292a2d;
}
main>section>article>button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: #41B4BB;
    margin: 10px 0px 300px 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
main>section>article>button:hover{
    background-color: #7EDCE1;
}
main>section>img{
    width: 15rem;
    height: 18rem;
    border-radius: 30px;
    border: solid 2px #B6A299;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}

/**********enceintes**********/
main>div{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
/**********enceinte portable**********/
.section1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: 300px;
    margin: -50px 10px 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
}
/**********enceinte salon**********/
main>div{
    background-color: #7EDCE1;
}
.section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    height: 300px;
    margin: -50px 10px 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
}
main>div>section>h2{
    margin: 20px;
    font-size: 30px;
    color: white;
    width: 50%;
}
main>div>section>p{
    margin: 20px;
    color: white;
    width: 50%;
}
main>div>section>button{
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-color: #B6A299;
    background-color: #41B4BB;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
main>div>section>img{
    width: 40%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.div>section{
    background-color: #B6A299;
    margin: 10px;
    border-radius: 5px;
}
.article{
    position: relative;
}
.article>a>img{
    width: 3rem;
    height: 3rem;
    margin: 0px 20px 0px 20px;
}
.article a:nth-child(2){
    position :absolute;
    right : 0;
    opacity: 0;
} 
.article:hover a:nth-child(2){
    opacity: 1;
} 
.div>section>article,span{
    margin: 10px 0px 5px 10px;
}
.div>section>p{
    color: #292a2d;
    background-color: #B6A299;
    margin: 5px 0px 10px 10px;
}
.div>section>img{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
}
/********footer**********/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #7EDCE1;
    margin: 10px;
    padding: 0rem 5rem 0rem 5rem;
}footer>a{
    text-decoration: none;
    color: #292a2d;

}